<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="/img/Ubuntu_in_ms.jpg" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">Choe SeongJu</h1>
        <p>
        I would like to express my gratitude to Canonical for managing Ubuntu! 
        <br>
        Ubuntu takes over the Microsoft Korea building!!!!! ¯\_(ツ)_/¯
        <br>
        *sip coffee
      </div>
    </div>
  </div>
</main>
